<a href="https://colab.research.google.com/github/manavvinayak/Python-Programs/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Machine")
print("Machine" + "Learning")
#only strings and alphabets are enclosed in double inverted commas

Machine
MachineLearning

In [ ]:
# for numbers
print(5)
#For checking type of the constraints
type("English")
type(9)
type(9.8)

5

float

In [ ]:
#Constants
superhero="IronMan"
print(superhero)

IronMan

In [12]:
#Input Function
num_1=int(input("Enter the first number:"))
num_2=int(input("Enter the second number:"))
sum = num_1 + num_2
print(sum)

Enter the first number:50
Enter the second number:5
55

In [14]:
#lists
my_list=[1,3,4,5]
print(my_list)
type(my_list)

[1, 3, 4, 5]

In [24]:
# lists are mutable,they can be changed
my_list=[2,4,3]
my_list.append(6)

# Also Lists allows duplicate values
print(len(my_list))
#iniating a empty list
list_2=[]
print(list_2)
list_2.append(5)
print(list_2)
del list_2[0]
print(list_2)
# Join two lists
list_3=[3,4,5]
list_4=[5,6,7]
list_5= list_3 + list_4
print(list_5)

4
[]
[5]
[]
[3, 4, 5, 5, 6, 7]

Tuples
once element is created here,we can not change it

In [28]:
tuple_1=(1,2,3,4)
print(tuple_1)
type(tuple_1)
print(len(tuple_1))
# Convert list to tuple
my_list=[1,2,3,4,5]
my_tuple=tuple(my_list)
print(my_tuple)
print(my_tuple[2])

(1, 2, 3, 4)
4
(1, 2, 3, 4, 5)
3

Set
It is enclosed in curly brackets
Set does not support indexing

In [33]:
my_set={1,3,4,5}
print(my_set)
type(my_set)
# Convert List to Set
list_5=[4,5,6,7]
print(list_5)
set_1=set(list_5)
print(set_1)
#Set does not allow duplicate values
set_2={1,2,3,1,2}
print(set_2)

{1, 3, 4, 5}
[4, 5, 6, 7]
{4, 5, 6, 7}
{1, 2, 3}

Dictionary: It has "Key Value Pair", each value has a key

In [40]:
my_dictionary={'name':'Vinayak','age':21,'country':'India'}
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])
# Dictionaries does not allow duplicate /repeated values

Vinayak
21
India